* {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


button {
    height: 2em;
    padding: 0 12px;
    margin: 0.2em;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 200%;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    box-shadow: 0.15em 0.15em 0.1em rgba(0, 0, 0, 0.4);
    border-radius: 0.05em;
}

span {
    font-size: 200%;
    stroke: rgb(32, 32, 32);
    color: white;
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.4);
}

div {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}